.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
}

.featured-post {
    margin-bottom: 40px;
}

.featured-post-image {
    width: 90%;
    height: 60vh; /* Adjust this value to control the height */
    overflow: hidden;
}

.featured-post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-post-content {
    padding: 20px 0;
}

.featured-post-title {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.featured-post-date {
    font-size: 1em;
    color: #666;
}


.content-layout {
    display: flex;
    gap: 2rem;
}


.latest-posts {
    display: flex;
    flex-direction: column;
    
    gap: 0.3rem;
    margin: 0;
    padding: 0;
}

.sidebar-post-card {

    overflow: hidden;
    max-width: 500px;
}

.sidebar-post-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.sidebar-post-title {
    font-size: 1rem;
    margin: 0rem;
}

.sidebar-post-date {
    font-size: 0.8rem;
    display: block;
    margin: 0;
}
.hero {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.side {
    width: 100%;
    margin: 0;
    padding: 0;
}
.sidebar {
    
    margin: 0;
    padding: 0;
}

.post-card-big {
    width: 100%;
}
.main {
    width: 90%;
    align-content: center;
}
.sidebar-post-card-image-link {
    margin-bottom: 0px;
}
.clap-button{
    padding-top: 20px;
}
.clap{
    margin: auto;
}
.post-card-date{
    color:#666;
    font-size: medium;
}
.featured-title {
    font-size: xx-large;
    font-weight: 700;
}
.post-card-image-link {
    margin-bottom: 10px;
}
.sidebar-post-card-image-link{
    margin-bottom: 6px;
}
.sidebar-post-card-title {
    font-size: 24px

}
.post-feed {
    padding-top: 0;
}
.category-heading {
    font-size: xx-large;
    
    font-weight: 700;
}
.sidebar-post-card-date{
    font-size: 14px;
}
.tag-title, .authors-title {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 44px;
}
.post-card-image-link {
    display: block !important;
    width: 100% !important;
    height: auto !important;
    overflow: hidden !important;
    position: relative !important;
  }
  
  .post-card-image-link::before {
    content: "" !important;
    display: block !important;
    padding-top: 56.25% !important; /* 16:9 Aspect Ratio - adjust if needed */
  }
  
  .post-card-image-link img {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
  .col1 {
    padding-top: 70px;
    width: 68%;
  }
  .col2 {
    width: 22%;
  }
  .wrapper {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.post-feed-category {
    position: relative;
    display: grid;
    gap: 4.8vmin 4vmin;
    grid-template-columns: repeat(4, 1fr);
}
/* New mobile-specific styles */
@media (max-width: 767px) {
    .wrapper {
        flex-direction: column;
    }

    .col1 {
        width: 100%;
        padding-top: 20px;
    }

    .col2 {
        display: none; /* This hides the "Ultimos posts" column on mobile */
    }

    .post-feed-category {
        grid-template-columns: 1fr; /* Change to a single column on mobile */
    }
}
.site-footer {
    padding: 50px 0;
    background-color: #000000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.footer-left {
    justify-content: flex-start; /* Aligns items to the start of the container */
}

.footer-left p {
    margin: 0;
    margin-right: 20px; /* Adds space between the copyright text and the "Subscribite" link */
}

.footer-center {
    justify-content: center;
}

.footer-logo {
    max-height: 75px;
    width: auto;
}

.footer-right {
    justify-content: flex-end;
}

.footer-nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
}

.footer-nav a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-left, .footer-center, .footer-right {
        margin-bottom: 15px;
        justify-content: center;
    }

    .footer-left {
        flex-direction: column;
    }

    .footer-left p {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-nav a {
        margin: 0 10px;
    }
}