.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.featured-post {
    margin-bottom: 40px;
}

.featured-post-image {
    width: 90%;
    height: 60vh; /* Adjust this value to control the height */
    overflow: hidden;
}

.featured-post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-post-content {
    padding: 20px 0;
}

.featured-post-title {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.featured-post-date {
    font-size: 1em;
    color: #666;
}


.content-layout {
    display: flex;
    gap: 2rem;
}


.latest-posts {
    display: flex;
    flex-direction: column;
    
    gap: 0.3rem;
    margin: 0;
    padding: 0;
}

.sidebar-post-card {

    overflow: hidden;
    max-width: 500px;
}

.sidebar-post-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.sidebar-post-title {
    font-size: 1rem;
    margin: 0rem;
}

.sidebar-post-date {
    font-size: 0.8rem;
    display: block;
    margin: 0;
}
.hero {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.side {
    width: 20%;
    margin: 0;
    padding: 0;
}
.sidebar {
    
    margin: 0;
    padding: 0;
}

.post-card-big {
    width: 100%;
}
.main {
    width: 70%;
    align-content: center;
}
.sidebar-post-card-image-link {
    margin-bottom: 0px;
}
.clap-button{
    padding-top: 20px;
}
.clap{
    margin: auto;
}
.post-card-date{
    color:#666;
    font-size: medium;
}
.featured-title {
    font-size: xx-large;
}
.post-card-image-link {
    margin-bottom: 10px;
}
.sidebar-post-card-image-link{
    margin-bottom: 6px;
}
.post-feed {
    padding-top: 0;
}